# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Google Drive shortcuts
*.gdoc
*.gsheet
*.gslides
*.gdraw
*.gtable
*.gform
*.gmap
*.gshortcut

.vercel
.env*

# Temporary testing artifacts
cookies.txt
/node_modules_old
/node_modules_old/
/C
/Arquivos teste
~$*
